@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --rollName: "Testing";
  --dailyRoll: 9999.99;
  --rollCount: 888.99;
}

body {
  font-family: 'Inter';
  background-image: linear-gradient(rgba(26,26,26,0.76), rgba(0,0,0,0.9)),
  url(./src/bg.jpg);
  background-size: cover;
  color: #fff;
  min-height: 100vh;
}

.p1 {
  padding-top: 20px;
  font-size: 8rem;
  font-weight: 100;
  padding: 30px 50px 0px 50px;
}

.p2 {
  font-size: 3rem;
  padding: 0px 50px 0px 57px;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 300px;
  min-height: 100px;
  border: 10px solid #757575;
  border-radius: 30px;
  padding:  20px 20px 10px;
  margin: 50px;
  margin-top: 50px;
  justify-content: center;
}

.p3 {
  font-size: 2.4rem;
  color: #bebebe;
  opacity: 80%;
  font-weight: 300;
}

.p4 {
  font-size: 4rem;
  color: #fff;
  font-weight: 500;
  padding: 22px 0 10px 0;
  opacity: 80%;
  letter-spacing: 2px;
}

.p5 {
  display: flex;
  gap: 6px;
  font-size: 2rem;
  color: #ff8989;
  font-weight: 300;
  opacity: 60%;
}

.p5 p:first-child {
  color:#8D8D8D;
}

.rolls {
  position: relative;
  width: 100%;
  padding: 10px 50px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.roll-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 210px;

}
.rollcount-bg {
  position: absolute;
  background: transparent;
  width: 210px;
  height: 210px;
  background-color: transparent;
  border: 10px solid #757575;
  border-radius: 50%;
}
.progress {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rollcount {
  stroke-dasharray: 627.3;
  stroke-dashoffset: 400;
}

.p-rollname-svg {
  font-size: 1.8rem;
  color: #8D8D8D;
  opacity: 55%;
  font-weight: 100;
}

.p-dailyroll-svg {
  font-size: 3rem;
  color: #ffffff;
  opacity: 95%;
  font-weight: 600;
}

.p-rolllocation-svg {
  font-size: 1.6rem;
  opacity: 55%;
  font-weight: 100;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.ttl-wrapper {
  display: flex;
  flex-direction: column;
}